header {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 1rem;
}

a:hover {
    color: #63C7B2;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 85px;
    margin: 0 auto;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.navbar .logo img {
    height: 75px;
    /* Match the height of the navbar */
    max-height: 100%;
}


.navbar .links {
    display: flex;
    gap: 8rem;
}

.navbar .burger-menu-button {
    color: aliceblue;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


.buttons {
    display: flex;
    gap: 10px;
}


.action-button {
    background-color: #63C7B2;
    color: #120d31;
    border: 1px solid #63C7B2;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;

}

.action-button:hover {
    color: antiquewhite;
}

.burger-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 75px;
    width: 200px;
    /* height: 310px; */
    backdrop-filter: blur(6px);
    border-radius: 10px;
    overflow: hidden;
    transition: height, 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.burger-menu.open {
    height: 320px;
}


.buttons-burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-burger-menu a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger-menu .action-button {
    width: 75%;
    display: flex;
    justify-self: center;
}

.burger-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.divider {
    height: 1px;
    background-color: aliceblue;
    width: 80%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}



/** Responsive **/

@media (max-width: 990px) {

    .navbar .links,
    .navbar .action-button {
        display: none;

    }

    .navbar .burger-menu {
        display: block;
    }

    .burger-menu {
        display: block;
    }
}