    <nav class="navbar">
        <a href="/src/assets/img/logo-TLBA22-version-definitive-500.png" class="logo">
            <img src="assets/img/logo-TLBA22-version-definitive-500.png" class="img-logo" alt="">
        </a>
        <div class="nav-links">
            <ul>
                <li><a href="/home">test nav</a></li>
                <li><a href="#">test nav</a></li>
                <li><a href="#">test nav</a></li>
                <li><a href="#">test nav</a></li>
                <li><a href="#">test nav</a></li>
            </ul>
        </div>

        <img src="assets/img/pngegg.png" alt="" class="hamburger">

    </nav>

    <header></header>

    <script>

   

    </script>

